<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Aufgabe 3</h3>
        </div>
        <div class="panel-body">
            <h2>{{task3.question}}</h2>
        </div>
    </div>
    <div class="container">
        Ich bin einverstanden, dass die im Antrag enthaltenen personenbezogenen Daten zur ordnungsgemäßen Abwicklung des Antrags gespeichert,
        sowie im Rahmen des Begutachtungs- und Entscheidungsverfahrens an Gutachter und Direktorium weitergeleitet werden. <br /><br />
        Ich bin damit einverstanden, dass die im Antrag enthaltenen Daten an Akademische Auslandsämter,
        Stipendienreferate und International Offices zur Kenntnisnahme und Überprüfung weitergegeben werden.<br /><br />
        Ich bin einverstanden, dass die im Antrag enthaltenen personenbezogenen Daten an Dritte
        für die Anmeldung und Organisation von Veranstaltungen genutzt werden.<br /><br />
        Ich bin einverstanden, dass die im Antrag enthaltenen Daten vom BayLat für die Erstellung von Statistiken verwendet werden.
        Statistiken werden ausschließlich in nicht personenbezogener Form veröffentlicht.<br /><br />
        Ich bin einverstanden, dass die im Antrag enthaltenen personenbezogenen Daten für
        statistische Zwecke an das Bayerische Staatsministerium für Wissenschaft, Forschung und Kunst
        und Dritte weitergegeben werden können.<br /><br />
        Ich bin einverstanden, dass BayLat die im Antrag enthaltenen personenbezogenen Daten zur Kontaktaufnahme,
        während und nach dem Auswahlprozeß, nutzt.<br /><br />
        Darüber hinaus bin ich damit einverstanden, dass Informationen über erfolgreiche Anträge
        im Rahmen von Veröffentlichungen allgemein zugänglich gemacht werden.<br /><br />
        Ich erkläre hiermit bis auf Widerruf mein Einverständnis, dass die oben genannten Daten durch BayLat
        an die genannten Stellen und Personen weitergegeben werden.
        Diese Einwilligung kann bis zur Weitergabe der Daten jederzeit widerrufen werden.
        Nach bereits erfolgter Weitergabe sind
        entsprechende Ansprüche - z.B. auf Löschung der Daten beim privaten Mittelgeber - direkt an diesen zu richten.<br /><br />
        Die Einwilligung ist freiwillig. Aus der Verweigerung der
        Einwilligung oder ihrem Widerruf entstehen keine Nachteile, insbesondere nicht hinsichtlich der
        Vergabe und Bewilligung von Stipendien.<br /><br />
    </div>
    <br /><br />
    <a class="btn btn-success pull-right" ng-click="saveTask()">Weiter</a>
    <br />
</div>