<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Aufgabe 4</h3>
        </div>
        <div class="panel-body">
            <h2>{{task4.question}}</h2>
        </div>
    </div>
    <div class="container">
        <p >Personenbezogene Daten sind Angaben über sachliche oder persönliche Verhältnisse
            einer bestimmten oder bestimmbaren natürlichen Person. Hierunter fallen beispielsweise Ihr Name, Ihre
            Telefonnummer, Ihre Anschrift, sowie sämtliche Bestandsdaten, die Sie uns bei der Registrierung und beim
            Anlegen Ihres Kundenkontos mitteilen. </p>
        <p ><br></p>
        <p ><br></p>
        <p ><strong >Kundenkonto</strong>
            Wir richten für jeden Kunden, der sich bei uns über die „jetzt registrieren“-Funktion registriert, ein
            Kundenkonto ein, d.h. einen passwortgeschützten direkten Zugang zu seinen bei uns gespeicherten
            Bestandsdaten. Hier können Sie unter anderem Daten über Ihre abgeschlossenen, offenen und kürzlich
            versandten Bestellungen einsehen oder ihre persönlichen Daten und den Newsletter verwalten. </p>
        <p ><br></p>
        <p ><br></p>
        <p ><strong >Einrichtung des Kundenkontos</strong></p>
        <p >Folgende Daten sind bei der Registrierung für ein Kundenkonto verpflichtend
            anzugeben (Pflichtangaben): </p>
        <p >— Ihre E-Mail-Adresse </p>
        <p >— Ihr Passwort </p>
        <p >— Ihr Vorname </p>
        <p >— Ihr Nachname </p>
        <p >— Ihr Geschlecht </p>
        <p >— Zustimmung zu Bonitätsprüfung und Datenschutzbestimmungen </p>
        <p ><br></p>
        <p ><br></p>
        <p >Ihre Rechnungs- sowie Lieferadresse müssen Sie erst angeben, wenn Sie eine
            Bestellung tätigen. Für Ihre Bestellung benötigen wir Ihre korrekten Namens-, Adress- und Zahldaten.
            Ihre E-Mail-Adresse benötigen wir, damit wir Ihnen den Eingang Ihrer Bestellung und deren Versand
            bestätigen können sowie generell, um mit Ihnen kommunizieren zu können. Wir nutzen Ihre E-Mail-Adresse
            zudem für Ihre Identifikation (als Anmeldename), wenn Sie sich in Ihrem Kundenkonto anmelden. </p>
        <p ><br></p>
        <p ><br></p>
        <p ><strong >Nutzung des Kundenkontos</strong></p>
        <p >Sie können Ihr Kundenkonto dazu nutzen, sich in den verschiedenen unserer
            europäischen Online Stores einzuloggen. Wir werden Ihre Daten nur an
            diese Dienste weitergeben, wenn Sie sich dort einloggen. Sollte es sich nicht um Dienste der Zalando SE
            handeln, so erfolgt die Weitergabe der Daten auch dann nur mit Ihrer Zustimmung,
            welche Sie im jeweiligen Anmeldeprozess erteilen können. Sofern Sie sich nicht aus Ihrem Kundenkonto
            abmelden, bleiben Sie automatisch eingeloggt. Diese Funktion ermöglicht Ihnen die Nutzung eines Teils
            unserer Dienste (z.B. ‚Wunschzettel‘) auch ohne erneute Anmeldung zum Kundenkonto. Aus
            Sicherheitsgründen werden Sie jedoch nochmals zur Eingabe Ihres Passworts aufgefordert, wenn
            beispielsweise Ihre persönlichen Daten geändert werden sollen oder Sie eine Bestellung aufgeben
            möchten. </p>
        <p ><br></p>
        <p ><br></p>
        <p ><strong >Meine Präferenzen</strong></p>
        <p >Sie können auf hier angeben, ob und welche Marken oder Kategorien Sie
            besonders interessant finden und welche Marken Sie nicht interessieren. Hierfür steht Ihnen die
            sogenannte Funktion ‚Meine Präferenzen‘ zur Verfügung; Ihre Angaben können Sie jederzeit in Ihrem
            Kundenkonto einsehen und anpassen. Mit Hilfe Ihrer Angaben personalisieren wir unter anderem Ihre
            Startseite, um so unseren Service für Sie noch relevanter und interessanter zu gestalten. </p>
        <p ><br></p>
        <p ><br></p>
        <p ><strong >Erhebung, Verarbeitung und Nutzung Ihrer
            personenbezogenen Daten</strong></p>
        <p >Wir erheben, speichern und verarbeiten Ihre Daten für die gesamte Abwicklung
            Ihres Kaufs, einschließlich eventuell späterer Gewährleistungen, für unsere Servicedienste (zum
            Beispiel: ‚Meine Präferenzen‘), die technische Administration, eigene Marketingzwecke sowie zur
            Verhinderung von Straftaten und Betrug.
            Ihre personenbezogenen Daten werden an Dritte nur weitergegeben soweit dies gesetzlich zulässig ist,
            einschließlich zum Zwecke der Vertragsabwicklung oder Abrechnung, zu Marketingzwecken oder wenn Sie
            zuvor eingewilligt haben. Im Rahmen der Bestellabwicklung erhalten beispielsweise die von uns
            eingesetzten Dienstleister (wie bspw. Transporteur, Logistiker, Banken) die notwendigen Daten zur
            Bestell- und Auftragsabwicklung. Die so weitergegebenen Daten dürfen von unseren Dienstleistern
            lediglich zur Erfüllung ihrer Aufgabe verwendet werden. </p>
        <p ><br></p>
        <p ><br></p>
        <p ><strong >Nutzung Ihrer Daten zu Werbezwecken</strong></p>
        <p >Neben der Verarbeitung Ihrer Daten zur Abwicklung Ihres Kaufs bei uns,
            nutzen wir Ihre Daten auch für folgende Zwecke: um Ihr Einkaufserlebnis permanent zu verbessern und für
            Sie kundenfreundlich und individuell zu gestalten; um mit Ihnen über Ihre Bestellungen, sowie über
            bestimmte Produkte oder Marketingaktionen zu kommunizieren; und um Ihnen Produkte oder Dienstleistungen
            zu empfehlen, die Sie interessieren könnten. Wir nutzen hierfür vorhandene Informationen, wie
            beispielsweise Empfangs- und Lesebestätigungen von E-Mails, Informationen über das von Ihnen genutzte
            Endgerät, Ihre Verbindung zum Internet, Betriebssystem und Plattform, Datum und Zeit des Besuchs der
            Homepage, oder Produkte die Sie angeschaut haben sowie Informationen, die wir von Ihnen erhalten
            (einschließlich automatisiert übermittelte oder generierte Informationen) haben. Daneben nutzen wir auch
            Ihre Bestellhistorie. Der Verwendung Ihrer personenbezogenen Daten für Werbezwecke können Sie jederzeit
            insgesamt oder für einzelne Maßnahmen widersprechen, ohne dass hierfür andere als die
            Übermittlungskosten nach den Basistarifen entstehen. </p>
        <p ><br></p>
        <p ><br></p>
        <p ><strong >Newsletter</strong></p>
        <p >Zum Versand des Newsletters verwenden wir die von Ihnen angegebene
            E-Mail-Adresse und benötigen hierfür Ihre Bestätigung, dass Sie, als Inhaber der E-Mail-Adresse, mit dem
            Empfang einverstanden sind. Sollten Sie später keinen Newsletter mehr von uns erhalten wollen, können
            Sie diesem jederzeit widersprechen, ohne dass hierfür andere als die Übermittlungskosten nach den
            Basistarifen entstehen. Eine Mitteilung in Textform an die unter Ziffer 1 genannten Kontaktdaten (z.B.
            E-Mail, Fax, Brief) reicht hierfür aus. Selbstverständlich finden Sie auch in jedem Newsletter einen
            Abmelde-Link. </p>
        <p ><br></p>
        <p ><br></p>
        <p ><strong >Produktempfehlungen per E-Mail </strong>
        </p>
        <p >Sollten Sie bei uns einen Kauf getätigt haben, so erhalten Sie regelmäßig
            Produktempfehlungen von uns per Mail. Diese Produktempfehlungen erhalten Sie von uns unabhängig davon,
            ob Sie einen Newsletter abonniert haben. Wir wollen Ihnen auf diese Weise Informationen über Produkte
            aus unserem Angebot zukommen lassen, die Sie auf Grundlage Ihrer letzten Einkäufe bei uns interessieren
            könnten. Sofern Sie keine Produktempfehlungen oder insgesamt keine werblichen Nachrichten mehr von uns
            erhalten wollen, können Sie dem jederzeit widersprechen, ohne dass hierfür andere als die
            Übermittlungskosten nach den Basistarifen entstehen. Eine Mitteilung in Textform an die unter Ziffer 1
            genannten Kontaktdaten (z.B. E-Mail, Fax, Brief) reicht hierfür aus. Selbstverständlich finden Sie auch
            in jeder E-Mail einen Abmelde-Link. </p>
        <p ><br></p>
        <p ><br></p>
        <p ><strong >Bannerwerbung</strong></p>
        <p >Wir nutzen die während Ihres Besuches gesammelten Daten auch, um Ihnen sog.
            Bannerwerbung anzuzeigen. Hierbei handelt es sich um Werbeanzeigen, welche wir auf Drittseiten schalten.
            Dies geschieht meist unter Einsatz von sog. Cookies oder Pixel. Unser Ziel ist es, das Werbeangebot für
            Sie nützlicher und interessanter zu gestalten, daher sehen Sie im Rahmen der Bannerwerbung vorrangig
            Produkte, die Sie entweder bereits auf unserer Seite angesehen haben oder Produkte, welche den von Ihnen
            angesehenen Produkten ähnlich sind (sog. Retargeting). Im Rahmen der Bannerwerbung arbeiten wir
            lediglich mit pseudonymen Daten; Klartext-Informationen zu Ihrer Person (z.B. Ihr Name oder Ihre
            Emailadresse) werden nicht in den Cookies abgelegt. </p>
        <p ><br></p>
        <p ><br></p>
        <p ><strong >Gewinnspiele, Markt- und
            Meinungsforschung </strong></p>
        <p >Bei Gewinnspielen verwenden wir Ihre Daten zum Zweck der Gewinnbenachrichtigung.
            Detaillierte Hinweise finden Sie in den Teilnahmebedingungen des
            jeweiligen Gewinnspiels. Wir verwenden Ihre Daten darüber hinaus zur Markt- und Meinungsforschung. Die
            im Rahmen von Markt- und Meinungsforschung erhobenen Daten, nutzen wir nicht für werbliche Zwecke.
            Detaillierte Hinweise (insbesondere zur Auswertung Ihrer Angaben) finden Sie im Rahmen der jeweiligen
            Umfrage bzw. dort wo Sie Ihre Angaben machen. Ihre Antworten bei Umfragen werden nicht an Dritte
            weitergegeben oder veröffentlicht. Der Datenverwendung für Markt- und Meinungsforschung können Sie
            jederzeit ganz oder für bestimmte Maßnahmen widersprechen, ohne dass hierfür andere als die
            Übermittlungskosten nach den Basistarifen entstehen. Eine Mitteilung in Textform reicht hierfür aus.
            Selbstverständlich finden Sie auch in jeder Umfrage-E-Mail einen Abmelde-Link.
        </p>
    </div>
    <br/><br/>
    <a class="btn btn-success pull-right" ng-click="saveTask()">Weiter</a>
    <br/>
</div>